version: '3.9'

services:
  db:
    image: postgres:15
    container_name: hospital_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: hospital_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: hospital_web
    command: >
      sh -c "python manage.py makemigrations accounts &&
            python manage.py makemigrations doctors &&
            python manage.py makemigrations patients &&
            python manage.py makemigrations appointments &&
            python manage.py makemigrations prescriptions &&
            python manage.py makemigrations billing &&
            python manage.py migrate &&
            python manage.py collectstatic --noinput &&
            gunicorn hospital.wsgi:application --bind 0.0.0.0:8000 --workers 3"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
        
volumes:
  postgres_data:
  static_volume: